@import '../../variables';

.primary-button {
    background-color: $color-primary-gold;
    padding: $button-padding;
    border-radius: $rounded-small;
    color: #fff;
    text-transform: uppercase;
    height: $input-height;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    box-shadow: $shadow-medium;
    border: 2px solid transparent;  


    &:hover {
        background-color: darken( $color-primary-gold, 3%);
    }
    
    &:focus {
        border: 2px solid darken( $color-primary-gold, 10%);  
    }
}