@import "../../variables";

.navbar {
  position: sticky;
  top: 0;
  box-shadow: $shadow-small;
  background-color: #fff;
  z-index: 1000;
  &__logo {
    margin-right: auto;
    width: 13.9rem;
    height: 3.2rem;
  }
  &__container {
    max-width: $grid-width;
    height: 5.6rem;
    padding: 0.8rem;
    // background-color: orangered;
    display: flex;
    margin: 2rem auto;
    align-items: center;
    font-size: $text-lg;
  }

  &__searchbar {
    width: 64rem;
  }
}
