@import "../../variables";

.home-categories {
  width: 100%;
  display: grid;
  gap: $gap-xl;
  grid-template-columns: repeat(4, minmax(15rem, 1fr));
  font-size: $text-lg;

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    // height: 100%;
  }

  &__img-container {
    height: $input-height;
    width: $input-height;
    border-radius: 50%;
    overflow: hidden;
    margin: $gap-base $gap-xl $gap-base $gap-base;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
