//global variables

//lengths
$gid-width:  120rem;
$input-height: 4rem;
$m-sm: .8rem;

//colors
$color-primary-gold: #F68B1E;
$color-black: #000;
$color-light-gray-1: #c7c7cd;


$color-lighter-gray-1: #ececec;

//border radius
$rounded-small: .3rem;

//shadows
$shadow-small: 0 .1rem .4rem rgba(#000, .2);
$shadow-medium: 0 .4rem 1rem rgba( $color-black, .3);


//paddings
$button-padding: 0 .8rem;