@import './variables';

:root{
  --color-primary-gold: #F68B1E;
  --color-black: #000;



  //heights
  --input-height: 4rem;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-page-bg;
}

html {
  font-size: 62.5%; //1rem is 10px
  box-sizing: border-box;
}


*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



.mr-sm {margin-right: $m-sm;}
.w-full {width: 100%;}

.mb-xs {margin-bottom: $gap-xs;}
.mb-base {margin-bottom: $gap-base;}
.mb-lg {margin-bottom: $gap-lg;}
.mb-xl {margin-bottom: $gap-xl;}